/* CSS Document */

body {
	margin: auto;
	height: 500px;
	padding: 20px;
}

#header {
	width: 1290px;
	color: #FFFFCC;
	font-size: 20px;
	padding: 10px 10px 10px 0px;
	border: 1px solid;
	background-color:#33FF33;
}
#body1 {
	width:700px;
	height:200px;
	border:1px solid;
	text-align:center;
}
#register{
	border:1px solid green;
	height:60px;
	width:1290px;
	text-align:center;
	color:white;
	background-color:#CCCCCC;
	padding: 10px 10px 10px 0px;
}
#button{
	background-color:#33FF33;
	width:160px;
	height:40px;
	color:#FFFFCC;

	
}
#text{
	width:400px;
	height:60px;
	border:1px solid;
	background-color:#FFCCCC;
	font-weight:bold;
	font-size:20;
	color:red;
	margin-left:450;
	margin-top:60px;
	text-align:center;
	
}
#text1{
	width:400px;
	height:60px;
	border:1px solid;
	background-color:#CCFF99;
	font-weight:bold;
	font-size:20;
	color:#00FF33;
	margin-left:450;
	margin-top:60px;
	text-align:center;
	
}
#menu{
	    color: #fff;
    font: 14px arial, verdana, sans-serif;
    font-weight: bold;
    padding: 9px 20px;
    text-decoration: none
}
#log{
	 color: #00FF33;
    font: 14px arial, verdana, sans-serif;
    font-weight: bold;
    padding: 9px 20px;
    text-decoration: none;
}

#footer {
	border-top: 1px solid green;
	margin-top: 120px;
	color: #336699;
	padding-top: 10px;	
}
